@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
width: 1440px; 
background-color: #FFE457;
background-image: url(../img/Blot-Header.svg);
background-repeat: no-repeat;
}

ul, li {
  display: block;
}
p {
  display: inline-block;
}

/* .mainscreen {
  background-color: #FFE457;
  background-image: url(../img/Blot-Header.svg);
  background-repeat: no-repeat;
} */

header {
  display: flex;
  align-items: center;
  padding: 110px 130px 0px 130px;
}

.wowapp {
margin-right: 120px;
margin-top: 4px;
}

.menu {
  display: flex;
}

.menu li a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  margin-right: 60px;
}

.menu li a:hover {
  color: #6E62DD;
}

.mail {
  margin-left: auto
}

.gmail {
  margin-left: 16px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #000;
}

.gmail:hover {
  color: #6E62DD;
}

.sense {
  background: #FF7474;
  border-radius: 50px;
  width: 1180px;
  height: 528px;
  margin: 130px 130px 0 130px;
  display: flex;
  justify-content: space-between;
}

.greeting {
  padding: 117px 0 117px 71px;
}

.sense div h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #F4F8FB;
}

.sense div p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FAFAFA;
  margin-top: 8px;
}

.sense div button {
width: 302px;
height: 58px;
border: none;
background: #645FD8;
border-radius: 20px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #ffffff;
margin-top: 44px;
cursor: pointer;
}

.sense div button:hover {
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.sense div button:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.robot {
  margin: 0 -31px 0 0;
}

.benefits {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  height: 423px;
}

.flex-benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 63px;
}

.first-benefit {
  background-image: url(../img/boltbenefitone.svg);
  background-repeat: no-repeat;
  width: 450px;
}

.second-benefit {
  background-image: url(../img/boltbenefitsecond.svg);
  background-repeat: no-repeat;
  width: 410px;
}

.third-benefit {
  background-image: url(../img/boltbenefitthird.svg);
  background-repeat: no-repeat;
  width: 440px;
}

.numbers {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #6F62DE;
}

.number-sense {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #FF7474;
}

.number-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-align-last: center;
}

.block-name {
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 130px;
}

h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-top: 2px;
}

h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FF7474;
  margin: 0;
}

.team-background {
  background-image: url(../img/TeamBolt.svg);
  background-repeat: no-repeat;
}

.team {
  margin: 0 130px 0 130px;
  display: flex;
  flex-wrap: wrap;
}

.team-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mark {
  margin-top: 77px;
}

.jack {
  margin: 194px 0 0 48px;
}

.mila {
  margin-left: 11px;
}

.charlie {
  margin-left: 201px;
  margin-top: -43px;
}

.james {
  margin-left: 48px;
  margin-top: -20px;
}

.name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FF7474;
}

.position{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  color: #6E62DD;
}

.services-backgroud {
  background-image: url(../img/BoltServices.svg);
  height: 707px;
}

.services-m {
  margin: 0 130px 0 130px;
  display: flex;
  justify-content: space-between;
  margin-top: -35px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: center;
  margin-top: 140px;
}

.services-name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
  color: #FF7474;
}

.services-description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  margin-top: 24px;
}

.lm-button {
  width: 302px;
  height: 58px;
  border: none;
  background: #FF7474;
  border: 3px solid #FF7474;
  border-radius: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 45px;
}

.lm-button:hover {
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.lm-button:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio {
  margin-top: -95px;
}

h4 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.portphones { 
  margin: 37px 130px 0 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
}

.portfolio-img {
  position: absolute;
  z-index: -1;
  left: -125px;
  top: 192px;
}

.phone-one {
  width: calc(33.33% - 10px);
  height: 415px;
  border: 3px dashed #FF7474;
  border-radius: 30px;
  padding: 8px;
}

.pobg {
  background-color: #6E62DD;
  border-radius: 30px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hfpobg {
  margin-top: 41px;
  text-align: center;
}

.imgpo {
  margin: -33px 0px 0px -105px;
}

.phone-two {
  width: calc(66.66% - 10px);
  height: 415px;
  padding: 8px;
}

.ptbg {
  background-color: #FF7474;
  border-radius: 30px;
  height: 400px;
  padding: 55px 0 39px 54px;
  display: flex;
  position: relative;
}

.pttext {
  display: flex;
  flex-direction: column;
}

.pttext p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin: 18px 0 28px 0;
}

.pttext button {
  background: #6E62DD;
  border: #6E62DD;
  margin: 0;
}

.imgpt {
  position: absolute;
  left: 394px;
  top: -15px;
}

.phone-three {
  width: calc(66.66% - 10px);
  height: 417px;
  border: 3px dashed #FF7474;
  border-radius: 30px;
  padding: 8px;
}

.pthbg {
  background-color: #6E62DD;
  border-radius: 30px;
  height: 400px;
  position: relative;
}

.pthtext {
  padding: 43px 38px 45px 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.pthtext h4 {
  text-align: right;
}

.pthtext p {
  text-align: right;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  margin: 24px 0 28px 0;
}

.pthtext button {
  margin: 0;
}

.phone-three img {
  position:absolute;
  left: -80px;
  top: -35px;
}

.phone-four {
  width: calc(33.33% - 10px);
  height: 415px;
  padding: 8px;
  margin-top: 4px;
}

.pfbg {
  background-color: #FF7474;
  padding-top: 44px;
  position: relative;
  border-radius: 30px;
  height: 400px;

}

.pfbg h4 {
  text-align: center;
}

.pfbg img {
  position: absolute;
  top: 141px;
  left: 5px;
}

.mwbutton {
  margin: 34px 0 0 841px;
}